.Action-Button {
  width: 45px;
  height: 40px;
  background-color: #75ff70;
  color: rgb(0, 0, 0);
  border: none;
  margin: 5px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  width: 100px;
}